/*styling the first paragraph on the rating page*/
#first {
    color: white;
    padding-left: 30px;
    padding-top: 15px;
    font-weight: 500;
    font-size: 26px;
}

/*styling the second paragraph on the rating page*/
#second {
    color: hsl(216, 12%, 54%);
    padding-left: 30px;
    padding-top: 28px
    font-size: 15px;
}

.attribution {
    color: white;
}
