/*Image at top of thank you screen*/
#thanks {
    width: 168px;
    height: 110px;
    margin-left: 99px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*container where JS will print the result*/
#selected {
    width: 192px;
    height: 38px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    margin-left: 88px;
    margin-right: 88px;
    margin-top: -2px;
    padding: 7.5px;
    padding-top: 11px;
    color: hsl(25, 97%, 53%);
    background-color: hsl(215, 15%, 31%);
}

/*Thank you header*/
.thank {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 30px;
    color: white;
    font-size: 32px;
}

/*final paragraph on thank you screen*/
.final {
    text-align: center;
    font-size: 15px;
    color: hsl(215, 15%, 31%);
    margin-top: -8px;
    margin-bottom: 52px;
    
}